<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BookStore</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <style>
        .modifyBook {
            margin-right: 5px;
        }

        .desc-limit {
            max-width: 200px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .title-limit {
            max-width: 100px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        textarea {
            resize: none;
        }

        .book-desc {
            max-height: 100px;
            min-height: 100px;
        }
    </style>
</head>
<body>

<div class="container-fluid">
    <div class="row" style="padding: 5px;border-bottom: 1px solid;">
        <a href="#" class="btn btn-primary" style="margin-right: 15px;" data-toggle="modal"
           data-target="#add-book">添加书籍</a>
        <a href="#" id="buy-book" class="btn btn-info" style="margin-right: 15px;">购买选中书籍</a>
        <div class="form-inline" style="display: inline;">
            <div class="form-group">
                <input id="search-book-title" type="text" class="form-control" placeholder="请输入要搜索的书籍名称" required="">
            </div>
            <button id="search-book-btn" type="submit" class="btn btn-default">搜索书籍</button>
        </div>
    </div>
    <div class="row">
        <table class="table table-bordered table-hover">
            <thead>
            <th><input id="select-all-book" type="checkbox"></th>
            <th>id</th>
            <th style="width: 100px">书籍名称</th>
            <th>书籍封面</th>
            <th style="width: 200px;">描述</th>
            <th>作者</th>
            <th>出版社</th>
            <th>出版日期</th>
            <th>价格(元)</th>
            <th>分类</th>
            <th>操作</th>
            </thead>
            <tbody>
            <tr th:if="${page!=null}" th:each="book : ${page.data}" th:attr="data-id=${book.id}">
                <td><input class="select-book" type="checkbox" th:attr="data-id=${book.id}"></td>
                <td th:text="${book.id}"></td>
                <td class="title-limit" th:text="${book.title}"></td>
                <td>
                    <img width="140px" height="140px" th:src="@{${book.url!=null?book.url:'/image/bookImg.svg'}}" class="img-responsive img-rounded" alt="书籍封面">
                </td>
                <td class="desc-limit" th:text="${book.desc}"></td>
                <td th:text="${book.author}"></td>
                <td th:text="${book.publisher}"></td>
                <td th:text="${book.publishDate}"></td>
                <td th:text="${book.price}"></td>
                <td th:text="${book.sort}"></td>
                <td>
                    <button class="btn btn-primary btn-sm modifyBook"
                            th:attr="data-id=${book.id}"
                            data-toggle="modal" data-target="#modify-book">修改
                    </button>
                    <button class="btn btn-info btn-sm uploadImage"
                            th:text="${book.url!=null?'更新封面':'上传封面'}"
                            th:attr="data-id=${book.id}"></button>
                    <button class="btn btn-danger btn-sm deleteBook" th:attr="data-id=${book.id}">删除</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row" th:if="${page.total > 0}">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li th:classappend="${page.curr != 1 ? '' : 'disabled'}"
                    th:title="${page.curr != 1 ? '上一页' : '已经到达第一页'}">
                    <a th:href="@{'/book?index='+${page.curr - 1 < 1 ? 1 : page.curr - 1}+${q!=null?('&q='+q):''}}"
                       aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li th:each="index : ${#numbers.sequence(page.start, page.end)}"
                    th:classappend="${index == page.curr ? 'active' : ''}">
                    <a th:href="@{'/book?index='+${index}+${q!=null?('&q='+q):''}}" th:text="${index}"></a>
                </li>
                <li th:classappend="${page.curr != page.total ? '' : 'disabled'}"
                    th:title="${page.curr != page.total ? '下一页' : '已经到达最后一页'}">
                    <a th:href="@{'/book?index=' + ${page.curr + 1 > page.total ? page.total : page.curr + 1}+${q!=null?('&q='+q):''}}"
                       aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<!--添加书籍-->
<div class="modal fade" id="add-book" tabindex="-1" role="dialog" aria-labelledby="add-book-h">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="add-book-h">添加书籍</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="add-book-title">书籍名称</label>
                        <input type="text" class="form-control" id="add-book-title" placeholder="请输入书籍名称" maxlength="15"
                               required>
                    </div>
                    <div class="form-group">
                        <label for="add-book-author">作者</label>
                        <input type="text" class="form-control" id="add-book-author" placeholder="请输入作者名称" required>
                    </div>
                    <div class="form-group">
                        <label for="add-book-sort">分类</label>
                        <select id="add-book-sort" class="form-control">
                            <option selected disabled value="no">请选择</option>
                            <option value="小说">小说</option>
                            <option value="文学">文学</option>
                            <option value="经济">经济</option>
                            <option value="历史">历史</option>
                            <option value="管理">管理</option>
                            <option value="艺术">艺术</option>
                            <option value="艺术">艺术</option>
                            <option value="青春文学">青春文学</option>
                            <option value="童书">童书</option>
                            <option value="法律">法律</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="add-book-desc">描述</label>
                        <textarea class="form-control book-desc" id="add-book-desc" placeholder="请输入书籍描述"
                                  required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="add-book-publisher">出版社</label>
                        <input type="text" class="form-control" id="add-book-publisher" placeholder="请输入书籍出版社" required>
                    </div>
                    <div class="form-group">
                        <label for="add-book-publishDate">出版日期</label>
                        <input type="date" class="form-control" id="add-book-publishDate" required>
                    </div>
                    <div class="form-group">
                        <label for="add-book-price">定价</label>
                        <input type="number" class="form-control" id="add-book-price" placeholder="请输入书籍定价" min="1"
                               required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="add-book-btn" type="button" class="btn btn-primary">添加</button>
            </div>
        </div>
    </div>

</div>

<!--修改书籍信息-->
<div class="modal fade" id="modify-book" tabindex="-1" role="dialog" aria-labelledby="modify-book-h">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modify-book-h">修改书籍信息</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="modify-book-id">书籍id</label>
                        <input type="text" class="form-control" id="modify-book-id" disabled>
                    </div>
                    <div class="form-group">
                        <label for="modify-book-title">书籍名称</label>
                        <input type="text" class="form-control" id="modify-book-title" disabled>
                    </div>
                    <div class="form-group">
                        <label for="modify-book-author">作者</label>
                        <input type="text" class="form-control" id="modify-book-author" disabled>
                    </div>
                    <div class="form-group">
                        <label for="modify-book-publisher">出版社</label>
                        <input type="text" class="form-control" id="modify-book-publisher" disabled>
                    </div>
                    <div class="form-group">
                        <label for="modify-book-publishDate">出版日期</label>
                        <input type="date" class="form-control" id="modify-book-publishDate" disabled>
                    </div>
                    <div class="form-group">
                        <label for="modify-book-sort">分类</label>
                        <select id="modify-book-sort" class="form-control">
                            <option selected disabled value="on">请选择</option>
                            <option value="小说">小说</option>
                            <option value="文学">文学</option>
                            <option value="经济">经济</option>
                            <option value="历史">历史</option>
                            <option value="管理">管理</option>
                            <option value="艺术">艺术</option>
                            <option value="艺术">艺术</option>
                            <option value="青春文学">青春文学</option>
                            <option value="童书">童书</option>
                            <option value="法律">法律</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="modify-book-desc">描述</label>
                        <textarea class="form-control book-desc" id="modify-book-desc" placeholder="请输入书籍描述"
                                  required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="modify-book-price">定价(元)</label>
                        <input type="number" class="form-control" id="modify-book-price" placeholder="请输入书籍定价" min="1"
                               required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="modify-book-btn" type="submit" class="btn btn-primary">修改</button>
            </div>
        </div>
    </div>
</div>

<!--上传图片-->
<div class="modal fade" id="upload-image" tabindex="-1" role="dialog" aria-labelledby="upload-image-h">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="upload-image-h">上传书籍封面</h4>
            </div>
            <div class="modal-body">
                <form method="post" enctype="multipart/form-data">
                    <input id="book-id" hidden>
                    <div class="form-group">
                        <label for="image">图片</label>
                        <input type="file" id="image">
                        <p class="help-block">只允许上传 jpg, jpeg, svg, png格式,且大小不超过5MB的图片</p>
                    </div>
                    <button id="upload-image-btn" type="button" class="btn btn-primary">上传</button>
                </form>
            </div>
        </div>
    </div>
</div>


<!--购买书籍的支付方式-->
<div id="pay-method" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">请选择支付方式</h4>
            </div>
            <div class="modal-body">
                <button id="pay-method-one" class="btn btn-default" type="button"
                        data-loading-text="订单生成中...">网上支付</button>
                <button id="pay-method-two" class="btn btn-default" type="button"
                        data-loading-text="订单生成中...">货到付款</button>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/book.js}"></script>
</body>
</html>